<!-- Menu --->
<button type="button" id="refesh_game" class="btn btnGameToolSubmit" style="color:white;z-index:100;position: fixed;top: 0;left: 0;background: orange;border-color: orange;"><i class="fa fa-cog fa-spin fa-2x fa-refresh"></i></em><span style="vertical-align:super">Làm mới</span></button>
<button type="button" id="setting_game" class="btn btn-success btnGameToolSubmit" style="z-index:100;position: fixed;top: 0;left: 99px;"><i class="fa fa-cog fa-spin fa-2x fa-fw"></i><span style="vertical-align:super;font-weight: bold;">Cài đặt</span></button>
<button type="button" id="btnhandung" class="btn btn-success btnGameToolSubmit" style="z-index:100;position: fixed;top: 0;text-align: ri;right: 0;"><i class="fa fa-calendar fa-2x fa-fw" style=""></i><span style="vertical-align:super;font-weight: bold;">Hạn Sử Dụng</span>&nbsp;<div id="div_handung" style="text-align: left;"></div></button>

<!-- Menu Setting --->
<div class="list-group" style="z-index: 99;position: fixed;top: 0px;left: 198px;width: 170px;display:none">
<a id="chienthuat1" class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Chiến thuật 1</a>
<a id="chienthuat2" class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Chiến thuật 2</a>
<a class="list-group-item" href="#"><i class="fa fa-bell fa-fw" aria-hidden="true"></i>&nbsp;<label><span style="font-weight: initial;padding-right: 10px;">Tắt tiếng</span><input id="off_audio" class="form-control" type="checkbox" value="1" style="float: right;"></label></a>
<a class="list-group-item" href="#" style="background: antiquewhite;" id="closemenu"><i class="fa fa-close fa-fw" aria-hidden="true"></i></i>&nbsp; Đóng Menu</a></div>

<!-- Chiến thuật 1 --->
<div id="chienthuat1_poup" class="modal-content" style="position: fixed;z-index: 90;top: 0px;left: 198px; display:none">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">Chiến thuật X2 only</h1>
   </div>
   <div class="modal-body">
      <span id="wrap_minbet_choices" data-bind="stopBinding: true">
         <label for"minbet_choices"="">Lựa chọn mức độ: </label>
         <select id="minbet_choices1" storevar="games_option_x2_setting" class="form-control margin-bottom-lg" data-bind="options: choices, optionsText: "text", optionsValue: "value", value: selectedChoice, optionsCaption: "Chọn..."">
         <option value="0">Chọn...</option>
         <option value="0.0001">An toàn (ăn nhỏ - 0.0001$)</option>
         <option value="0.001">Trung bình (ăn vừa - 0.001$)</option>
         <option value="0.01">Mạo hiểm (ăn to - 0.01)</option>
         <option value="1">Tùy chỉnh</option>
         </select><input id="minbet_amount_custom1" class="form-control margin-bottom-lg" style="display:none" placeholder="Nhập số cược nhỏ nhất (USD)" autocomplete="off">
         <label for"minbet_choices"="" style="display: block;">Cài đặt tỉ lệ thắng: </label>
         <input id="tilethang1" class="form-control margin-bottom-lg" style="" placeholder="Nhập tỉ lệ thắng (default 49.5% ván)" value="49.5">
         <label for"minbet_choices"="" style="display: block;">Cài đặt an toàn: </label>
         <span style="display: block;">Số ván dừng khi thua liên tiếp</span>
         <input id="sovan1" class="form-control margin-bottom-lg" style="" placeholder="Dừng nếu thua liên tiếp (default 11 ván)" value="10">
         <select id="stop_choices1" storevar="games_option_x2_setting" class="form-control margin-bottom-lg">
            <option value="0">Dừng hẳn</option>
            <!--<option value="1">Dừng trong khoảng thời gian</option>-->
         </select>
         <!--<input id="stoptime1" class="form-control margin-bottom-lg" style="display:none" placeholder="Nhập khoảng thời gian bạn muốn tạm dừng (s)" autocomplete="off">-->
         <label class="margin-bottom-lg"><input id="checkedChangeRoll1" class="form-control" type="checkbox" value="1" ><span>Đảo cửa sau ván win</span></label>
      </span>
      <div id="result_message" class="alert alert-warning" type="games_option_x2">Số ván thua liên tiếp tối đa có thể chịu được (dựa trên Số tiền hiện tại): <b id="sovan_chiuduoc"></b><br><span class="text-danger">Dữ liệu chỉ mang tính tương đối !</span></div>
   </div>
   <div class="modal-footer"><button type="button" id="save_setting_game1" class="btn btn-success btnGameToolSubmit">Save & Start</button><button type="button" id="dongchienthuat1" class="btn btn-default btnGameToolClose" data-dismiss="modal">Đóng</button></div>
</div>

<!-- Chiến thuật 2 --->
<div id="chienthuat2_poup" class="modal-content" style="position: fixed;z-index: 90;top: 0px;left: 198px; display:none">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">Chiến thuật nhỏ giọt đôi</h1>
   </div>
   <div class="modal-body">
      <span id="wrap_minbet_choices" data-bind="stopBinding: true">
         <label for"minbet_choices"="">Lựa chọn mức độ: </label>
         <select id="minbet_choices2" storevar="games_option_x2_setting" class="form-control margin-bottom-lg" data-bind="options: choices, optionsText: "text", optionsValue: "value", value: selectedChoice, optionsCaption: "Chọn..."">
         <option value="0">Chọn...</option>
         <option value="0.0001">An toàn (ăn nhỏ - 0.0001$)</option>
         <option value="0.001">Trung bình (ăn vừa - 0.001$)</option>
         <option value="0.01">Mạo hiểm (ăn to - 0.01)</option>
         <option value="1">Tùy chỉnh</option>
         </select><input id="minbet_amount_custom2" class="form-control margin-bottom-lg" style="display:none" placeholder="Nhập số cược nhỏ nhất (USD)" autocomplete="off">
         <label for"minbet_choices"="" style="display: block;">Cài đặt tỉ lệ thắng: </label>
         <input id="tilethang2" class="form-control margin-bottom-lg" style="" placeholder="Nhập tỉ lệ thắng (default 49.5% ván)" value="49.5">
         <label for"minbet_choices"="" style="display: block;">Cài đặt an toàn: </label>
         <span style="display: block;">Số ván muốn lặp khi thua liên tiếp</span>
         <input id="sovan2" class="form-control margin-bottom-lg" style="" placeholder="Dừng nếu thua liên tiếp (default 11 ván)" value="10">'
         <!--<select id="stop_choices1" storevar="games_option_x2_setting" class="form-control margin-bottom-lg">
            <option value="0">Dừng hẳn</option>
            <option value="1">Dừng trong khoảng thời gian</option>
         </select>-->
         <!--<input id="stoptime1" class="form-control margin-bottom-lg" style="display:none" placeholder="Nhập khoảng thời gian bạn muốn tạm dừng (s)" autocomplete="off">-->
         <label class="margin-bottom-lg"><input id="checkedChangeRoll2" class="form-control" type="checkbox" value="1" ><span>Đảo cửa sau ván win</span></label>
      </span>
      <!--<div id="result_message" class="alert alert-warning" type="games_option_x2">Số ván thua liên tiếp tối đa có thể chịu được (dựa trên Số tiền hiện tại): <b>0</b><br>Đánh giá: <span class="text-danger text-danger">Tài khoản không đủ tiền!</span></div>-->
   </div>
   <div class="modal-footer"><button type="button" id="save_setting_game2" class="btn btn-success btnGameToolSubmit">Save & Start</button><button type="button" id="dongchienthuat2" class="btn btn-default btnGameToolClose" data-dismiss="modal">Đóng</button></div>
</div>
